.Memberships {
  width: 100%;
  border-top: 1px solid #eaeaea;
  padding: 10px;
}

.Memberships > div {
  display: inline-block;
}

.Memberships-list {
  font-size: 12px;
}

.Memberships-title {
  font-size: 10px;
  font-weight: 600;
  margin-right: 5px;
}
