.Move {
  width: 100%;
}

.Move-option {
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin: 10px;
  font-size: 24px;
  &.--trash {
    display: block;
    width: 100px;
    margin: 50px auto;
    color: crimson;
    border: 3px solid crimson;
  }
}
